// Styling for the masthead
header.masthead {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/gearsbackground.jpg);
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }

  text-align: center;
  color: white;
  //@include background-cover;
  background-color: rgba($gray-800, .9);

  .intro-text {
    a{
      &:hover {
        text-decoration: none;
      }
    }

    padding-top: 150px;
    padding-bottom: 100px;

    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include third-rail;
    }

    .intro-heading {
      font-size: 30px;
      font-weight: 100;
      line-height: 40px;
      margin-bottom: 70px;
      @include third-rail;

    }

    a {
      margin-top: 50px;
    }
  }
}

@media(min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 500px;

      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include third-rail;

      }

      .intro-heading {
        font-size: 6em;
        font-weight: 100;
        line-height: 30px;
        margin-bottom: 100px;
        @include third-rail;

      }
    }
  }
}
